.home{
    height: fit-content;
    /* margin: 0%; */
}
#sparkle{
    background-color: aliceblue;
}
#img-small{
    width: 400px;
    height: 300px;
}
#img-big{
    width: 450px;
    height: 350px;
}