#img-small {
    /* width: 400px; */
    /* height: 300px; */
}

#img-big {
    width: 350px;
    height: 380px;
}

/* responsiveness */
@media screen and (max-width :769px) {
    .col-4 {
        /* flex: 0 0 auto; */
        /* width: 100%; */
    }

    .vh-100 {
        height: fit-content !important;
    }

    .p-5 {
        padding: 1rem !important;
    }

    #img-big {
        width: 20%;
        padding: 0%;
    }

    #img-small {
        width: 50%;
    }

    #blue {
        padding: 0%;
    }
}