/* #root{} */
#sparkle{
  background-color: aliceblue;
}
#blue{
  color: #00008B !important; 
}
#but-ton{
  background-color: #FBE418;
}
#centered{
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: left;
}

#small-text{
  font-size: 13px;
}